global
    daemon

defaults
    mode http
    timeout connect 5s
    timeout client 50s
    timeout server 50s

frontend http_front
    bind *:80
    default_backend api_servers

backend api_servers
    balance roundrobin
    server web01 web01:3000 check
    server web02 web02:3000 check
